<div class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">我々ハ錬金術師我ガ友ヨ</h1>
      <p class="py-4 subtitle">いろはにほへとちりぬるを<br>わかよたれそつねならむ<br>うゐのおくやまけふこえて<br>あさきゆめみしゑひもせすん</p>
      <a href="https://autoracex.connpass.com" class="button is-primary">Get Started</a>
    </div>
  </div>
</div>
