<div class="container" style="max-width: 40rem">
  <h1 class="title">Confirm account</h1>

  <.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)} class="box">
    <div class="control mt-4">
      <%= submit "Confirm my account", class: "button is-primary" %>
    </div>
  </.form>

  <p class="block">
    <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
  </p>
</div>
